<mat-card class="article-detail">
  <mat-card-title>{{ article?.title }}</mat-card-title>
  <mat-card-subtitle>
    <div class="metadata">
      <span><mat-icon fontIcon="calendar_today"></mat-icon>
        {{ article?.createdAt | date:'mediumDate' }}</span>
      <span><img [src]="'/assets/profils/'+article?.authorPicture+'.png'" [alt]="article?.authorUsername"
          class="author-picture" onerror="this.src='/assets/profils/default.png'" /></span>
      <span class="author">{{ article?.authorUsername }}</span>

      <span>
        Thèmes :
        <span *ngIf="getThemeNames().length; else noThemes">
          {{ getThemeNames().join(', ') }}
        </span>
        <ng-template #noThemes>Non défini</ng-template>
      </span>
    </div>
  </mat-card-subtitle>

  <mat-divider></mat-divider>

  <mat-card-content>
    <p>{{ article?.content }}</p>
  </mat-card-content>
</mat-card>