.article-detail {
  margin: 1rem auto;
  width:98%;
  max-width: 1300px;
}

.author-picture {
  object-fit: cover;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: 1px solid grey;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
}
.metadata span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.author {
  font-weight: bold;
}
