// Custom Theming for Angular Material
@use "@angular/material" as mat;

// Include the core styles for Angular Material.
@include mat.core();


/*// Define a custom theme
$custom-primary: mat.define-palette(mat.$deep-purple-palette);
$custom-accent: mat.define-palette(mat.$indigo-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Include all component styles for the custom theme
@include mat.all-component-themes($custom-theme);*/

// Global styles
//html,
body {
  height: 100%;
  width:100% ;
  max-width: 1400px;
  margin: auto ;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
}

app-root {
  margin:auto;
  width: 100%;
  max-width:1400px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
